.tablero {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; 
    width: 225px; 
    background-color: #333; 
    padding-top: 50px; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.tablero ul {
    list-style-type: none; 
    padding: 0;
    margin: 15px;

}

.tablero ul a {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    color: #fff; 

}

.tablero ul a:hover {
    background-color: #555; 
}